.container {
    background-color: #c00025;
    width: 100%;
    max-width: 550px;
    border-radius: 15px;
    border: 2px solid grey;
    padding-bottom: 25px;
}
.display {
    margin-top: 25px;
    height: 100px;
    width: 450px;
    border-radius: 50px;
    color: white;
    background-color: #322c2d;
    box-shadow: 1px 1px #322c2d;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding-right: 8%;
    font-size: 5.0rem;
  }
  .buttons1{
      display: flex;
      width: 100%;
      justify-content: center;
  }
  .operatorDiv{
      width: 50%;
      margin-top: -21%;
  }
  .numbers_button,.operations_button,.special_button{
      border-radius: 50%;
      background-color: #123C73;
      color: white;
      width: 70px;
      height: 70px;
      margin: 5%;
  }
  .numbutton{
      margin: 1%;
      margin-left: 2.5%;
  }
  .numbers_button{
      background-color: #123C73;

  }
  /* .numbers_button:nth-child(10){ This block does not fire...issue unknown
       width: 220px;
       border-radius: 50px;
  } */
  .opbutton{
      display: flex;
      justify-content: flex-end;
      margin-right: 29%;
      margin-top: 3.8%;
      
  }
  .operations_button{
      background-color: #3DBCD9;
      margin: 16%;
     
  }
  .spbutton{ 
    margin-left: 0.5%

  }
  .special_button{
      background-color: #1F67A6;
      
  }

